<header class="header">
  <div class="header__title">
    <%= link_to "SNKRDUNK", root_path, class: "header__title--text" %>
  </div>
  <div class="header__right">
    <%= link_to "ログイン", '#', class: "header__right--log" %>
  </div>
</header>