.content
  .wrap-1200
    .content-main
      .comment-list
        %h2.title みんなの投稿
        .tag-wrapper
        .comment-box
          .comment-square
            .comment-content
        %br
        %br
        %br
        %br
        %br
        %br
        %br
        %br
        %br
        %br
        %br
        %br
        %br
        %br
      .post-list-wrapper
        %h2.title 新着スニーカー・記事  
        .post-squares
          - @posts.each do |post|
            .post-list
              = link_to image_tag(post.image.to_s), post_path(post.id)
              %h3.post-title
                = link_to post.title, post_path(post.id)
              %p.post-subtitle
                = post.subtitle
          
    .content-side サイドバーのコンテンツ
      

     