.content
  .wrap-1200
    .content-main
      .comment-list
        %h2.title みんなの投稿
        .tag-wrapper ここはみんなの投稿がSNS風になる部分
      .post-list-wrapper
        %h2.title 新着スニーカー・記事
    .content-side サイドバーのコンテンツ
      

     